<%= provide :title, t("views.followings.index.title") %>
<h4>
  <%= t "views.followings.index.stats", number: @users.count %>
</h4>
<%= will_paginate @users %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate @users %>

