<% provide :title, t("views.lessons.edit.content") %>
<div class="exam_info">
  <%= t "view.lessons.edit.exam_date" %>:
  <%= @lesson.created_at %>
</div>
<h1><%= t "views.lessons.edit.content" %></h1>
<%= form_for @lesson do |f| %>
  <ol>
    <%= f.fields_for :lesson_words do |builder| %>
      <%= render "lesson_words", f: builder %>
    <% end %>
  </ol>
  <div class="action-finish-lesson">
    <%= f.submit t("views.lessons.edit.submit_button"), class: "btn btn-primary" %>
  </div>
<% end %>
