<% provide :title, t("views.admin.categories.index.title") %>
<h1><%= t "views.admin.categories.index.content" %></h1>
<table class="table table-striped manager-categories">
  <thead>
    <col width="10%">
    <col width="50%">
    <col width="20%">
    <col width="20%">
    <tr>
      <th><%= t "views.admin.categories.index.header_category_id" %></th>
      <th><%= t "views.admin.categories.index.header_category_name" %></th>
      <th><%= t "views.admin.categories.index.header_total_words" %></th>
      <th><%= t "views.admin.categories.index.header_action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td class="category-id"><%= category.id %></td>
        <td><%= link_to category.name, categories_path %></td>
        <td><%= category.words.count%></td>
        <td>
          <%= link_to t("views.admin.categories.index.add_word"),
            new_admin_word_path(category_id: category.id),
            class: "btn btn-primary" %>
          <%= link_to t("views.admin.categories.index.edit"),
            edit_admin_category_path(category), class: "btn btn-warning" %>
          <%= link_to t("views.admin.categories.index.delete"),
            admin_category_path(category), method: :delete,
            data: {confirm: t("views.admin.categories.index.confirm")},
            class: "btn btn-danger"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<%= link_to t("views.admin.categories.index.add_category"),
  new_admin_category_path, class: "btn btn-primary" %>
