<% provide :title, t("views.admin.categories.index.title") %>
<h1><%= t "views.admin.categories.index.content" %></h1>
<%= will_paginate %>
<ul class="categories">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, categories_path %>
      <%= link_to t("views.admin.categories.index.edit"),
        edit_admin_category_path(category), class: "btn btn-warning" %>
      <%= link_to t("views.admin.categories.index.delete"),
        admin_category_path(category), method: :delete,
        data: {confirm: t("views.admin.categories.index.confirm")},
        class: "btn btn-danger"%>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
