<% provide :title, t("views.categories.index.title") %>
<h1><%= t "views.categories.index.content" %></h1>
<%= will_paginate %>
<ul class="categories">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, categories_path %>
      <span><%= category.words.count %></span>
      <%= link_to t("views.categories.index.start_lesson"),
        lessons_path(category_id: category.id),
        method: :post, class: "btn btn-primary pull-right" %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
