<% provide :title, t("views.admin.users.index.title") %>
<h1><%= t "views.admin.users.index.content" %></h1>
<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user %>
      <%= link_to user.name, user %>
      <% unless user.is_admin? %>
          <%= link_to t("views.admin.users.index.delete_button"),
            admin_user_path(user.id),
            class: "btn btn-danger pull-right", method: :delete,
            data: {confirm: t("views.admin.users.index.confirm_delete_user")} %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
