<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("views.header.app_name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("views.header.home"), root_path %></li>
        <li><%= link_to t("views.header.help"), help_path %></li>
        <% if logged_in? %>
          <li><%= link_to t("views.header.all_users"), users_path %></li>
          <li><%= link_to t("views.header.categories"), categories_path %></li>
          <% if current_user.is_admin? %>
            <%= render "layouts/manager_menu" %>
          <% end %>
          <%= render "layouts/user_menu" %>
        <% else %>
          <li>
            <%= link_to t("views.header.login"), login_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
